$font-primary: #112e53;
$font-secondary: #464646;

$primary-bg: #fafafa;
$second-bg: #fff;

$font-button-filled: #fff;
$font-button-unfilled: #666666;

$filled-bg-btn: #2d6da9;
$unfilled-bg-btn: #fff;

$hover-unfilled-bg: darken($unfilled-bg-btn, 5%);
$hover-filled-bg: lighten($filled-bg-btn, 10%);

$error-color: #e01a1a;
$border-color: #cfcfcf;

$box-shadow: 0px 1px 4px rgba(173, 173, 173, 0.5);

$panel-padding: 15px;
$border-radius: 4px;

$icon-size: 16px;
$icon-samll-size: 8px;

$button-height: 33px;
