.table {
  &__header {
    cursor: pointer;
  }

  &__cell {
    display: flex;
    justify-content: space-between;
  }
}

.nav-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 10px;
}
