.navBlock {
  @include display(flex, space-between, center);

  padding: 10px;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;

  margin-bottom: rem(20);
}

.container {
  width: 1120px;
  height: 100%;
  margin: 0 auto;

  margin-top: rem(20);
}

.loadingWrapper {
  @include display(flex, center, center);
}

.notFound {
  @include display(flex, center, center);
  flex-direction: column;

  & > svg {
    width: rem(140);
    color: $disabled-bg-btn;
  }
}

.message {
  @include font-sans(rem(36), $disabled-bg-btn, 500, normal, rem(16));
  margin-top: rem(60);
}
