.filters {
  @include display(flex, space-between, center);

  background: $primary-bg;
  padding: $panel-padding;

  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  box-shadow: $box-shadow;
}

.right {
  @include display(flex, space-between, center);
}
